@import "tailwindcss";

:root {
  --background: url("/image/bg.jpg");
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-image: var(--background);
  color: var(--foreground);
  font-family: var(--font-gloria-hallelujah);
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  background: url("/image/crayon-overlay.png");
  opacity: 0.5;
  mix-blend-mode: soft-light;
  pointer-events: none;
}

* {
  box-sizing: border-box;
}

.input,
.button {
  align-self: center;
  background: transparent;
  padding: 1rem 1rem;
  margin: 0 1rem;
  transition: all 0.5s ease;
  color: #41403e;
  font-size: 2rem;
  letter-spacing: 1px;
  outline: none;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  /*
      Above is shorthand for:
      border-top-left-radius: 255px 15px;
      border-top-right-radius: 15px 225px;
      border-bottom-right-radius: 225px 15px;
      border-bottom-left-radius:15px 255px;
      */
  &:hover {
    box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.3);
  }
  &.lined.thick {
    border: solid 5px #41403e;
  }
  &.dotted.thick {
    border: dotted 5px #41403e;
  }
  &.dashed.thick {
    border: dashed 5px #41403e;
  }
  &.lined.thin {
    border: solid 2px #41403e;
  }
  &.dotted.thin {
    border: dotted 2px #41403e;
  }
  &.dashed.thin {
    border: dashed 2px #41403e;
  }
}
